.btn-disminuir, .btn-aumentar, .btn-agregar {
    padding: 10px 20px; 
    margin: 0 10px; 
    font-size: 18px; 
    background-color: blue;
    color: white;
  }
  


.btn-disminuir {
    background-color: rgb(247, 107, 130);
    color: white;
  }
  
  .btn-aumentar {
    background-color: rgb(247, 107, 130);
    color: white;
  }
  
  .btn-agregar {
    background-color: rgb(247, 107, 130);
    color: white;
  }